{% extends "base.html" %}

{% block content %}
<img class="padding" align="left" style="margin-bottom: 100px" src="/static/img/intro.png">
<br><br><br><br>
<h2 align="center"><b>Как выбрать сноуборд?</b></h2>
<div class="d-grid gap-4 col-9 mx-auto">
    <ol class="padding">
    <li>Зарегистрируйся в системе и войди в профиль</li>
    <li>Нажми на кнопку "Добавить сноуборд" и заполни форму</li>
    <li>Все готово! Результат появится на странице</li>
</ol>
</div>
<br><br><br>
<h2 align="center" id="navigator"><b>Справочник</b></h2>
<div class="d-grid gap-2 col-11 mx-auto">
    <ul class="padding">
    <li><a href="#history" style="color: darkblue">Сноубординг. С чего все началось</a></li>
    <li><a href="#directions" style="color: darkblue">Направления и дисциплины. Особенности и отличия</a></li>
    <li><a href="#specifications" style="color: darkblue">Характеристики сноуборда. Какими они бывают и почему так важны</a></li>
    <ul>
        <li><a href="#terminology" style="color: darkblue">Ключевые понятия</a></li>
        <li><a href="#stiffness" style="color: darkblue">Жесткость</a></li>
        <li><a href="#height" style="color: darkblue">Ростовка</a></li>
        <li><a href="#deflection" style="color: darkblue">Прогиб</a></li>
        <li><a href="#shape" style="color: darkblue">Форма</a></li>
        <li><a href="#system" style="color: darkblue">Система закладных</a></li>
        <li><a href="#technology" style="color: darkblue">Технология кантов</a></li>
    </ul>
</ul>
</div>
{% if (current_user.is_authenticated) %}
    <br>
    <div class="d-grid gap-2 col-2 mx-auto">
        <a href="/" class="btn btn-secondary">Мои сноуборды</a>
    </div>
{% endif %}
<br><br><br><br>
<h2 align="center" id="history"><b>Сноубординг. С чего все началось</b></h2>
<br>
<p class="main" align="justify">
    Сноубординг (образовано от англ. “Snowboarding”, где “snow” — снег и “board” — доска) — зимний олимпийский вид
    спорта, заключающийся в спуске с заснеженных склонов и гор на специальном снаряде — сноуборде.
</p>
<img class="padding" align="center" width="970" height="1068" style="margin-left: 50px" src="/static/img/snowboarder.png">
<p class="main" align="justify" style="margin-top: 15px">
    Все началось с того, что в 1965 году Шерман Поппен, американец из штата Мичиган, изобрел снёрфер,
    ставший предшественником сноуборда. Он представлял из себя две склеенных между собой лыжи и не имел креплений,
    поэтому катающийся держался за верёвку, привязанную к передней части доски.
    Уже через год было начато производство снёрферов, в связи с чем изобретение быстро набрало популярность.
</p>
<p class="main" align="justify">
    Одним из тех, кто внёс вклад в совершенствование снаряда, стал Джейк Бертон. Он пробовал кататься на снёрфере,
    однако был недоволен тем, что им почти невозможно управлять. В 1977 году Бертон устранил этот недостаток,
    установив на снаряд крепление от водных лыж. Доработанное им изобретение он назвал сноубордом.
</p>
<p class="main" align="justify">
    В 1979 году в штате Мичиган был проведён Мировой чемпионат по снёрфингу, который принято считать первыми в истории
    соревнованиями по сноуборду. Вскоре сноубординг признали официальным зимним видом спорта. В 1985 году на австрийском
    горнолыжном курорте Цюрс состоялся первый Мировой кубок, а в 1998-ом во время зимних олимпийских игр в Японии
    сноуборд был впервые включен в программу.
</p>
<p class="main" align="justify">
    К 2000 г. сноубординг присутствовал во всех видах соревнований высшего
    уровня: Олимпийские игры, Чемпионат мира, Кубок мира, X-Games (ежегодное спортивное событие, специализирующееся
    на экстремальных видах спорта), US Open (открытое первенство США по сноубордингу) и др.
</p>
<br>
<div class="d-grid gap-2 col-10 mx-auto">
    <img align="center" width="550" height="670" style="float: left" src="/static/img/history/snurf.png">
</div>
    <img class="padding" align="center" width="365" height="700" src="/static/img/history/jake_burton.png">
<br><br><br><br>
<h2 align="center" id="directions"><b>Направления и дисциплины. Особенности и отличия</b></h2>
<br>
<p class="main">Существует 3 основных направления:</p>
<ul>
    <li>
        Карвинг – катание по подготовленным склонам, направленное на выполнение последовательных резаных поворотов
        при большой скорости
        <img class="padding" align="center" width="970" height="650" src="/static/img/directions/carving.jpg">
    </li>
    <li class="padding">
        Фристайл – катание по трассам, подготовленным для выполнения трюков и прыжков
        <img class="padding" align="center" width="970" height="650" src="/static/img/directions/freestyle.jpg">
    </li>
    <li class="padding">
        Фрирайд – свободное катание вне подготовленных трасс (по горам, лесам и т.д.)
        <img class="padding" align="center" width="970" height="650" src="/static/img/directions/freeride.jpg">
    </li>
</ul>
<p class="main" align="justify">
    За многие годы технологии сноуборда значительно усовершенствовались, что позволило научиться управлять снарядом
    в различных условиях. В связи с этим появилось множество дисциплин:
</p>
<ul>
    <li>
        Слалом – вид соревнований, в котором спортсмену необходимо совершить скоростной спуск со склона.
        Олимпийская дисциплина с 2014 года.
        <img class="padding" align="center" width="970" height="546" src="/static/img/disciplines/slalom.jpg">
    </li>
    <li class="padding">
        Сноуборд-кросс (бордер-кросс, борд-кросс) — вид соревнований, в котором несколько спортсменов
        (от 4 до 6 человек) одновременно соревнуются на скорость на трассе с различными рельефными фигурами:
        трамплинами, контруклонами и другими. Олимпийская дисциплина с 2006 года.
        <img class="padding" align="center" width="970" height="534" src="/static/img/disciplines/cross.jpg">
    </li>
    <li class="padding">
        Хафпайп — вид соревнований, в котором спортсмен выполняет трюки на сноуборде во время вылетов
        с вертикальной части хафпайпа - сооружения высотой около 3 м 20 см и длиной до 80 м.
        Олимпийская дисциплина с 1998 г.
        <img class="padding" align="center" width="970" height="647" src="/static/img/disciplines/halfpipe.jpg">
    </li>
    <li class="padding">
        Биг-эйр — вид соревнований, в котором спортсмен выполняет ряд трюков во время прыжка
        с большого трамплина. Олимпийская дисциплина с 2018 года.
        <img class="padding" align="center" width="970" height="622" src="/static/img/disciplines/big_air.jpg">
    </li>
    <li class="padding">
        Слоупстайл — вид соревнований, в котором спортсмен выполняет ряд трюков и прыжков с помощью
        различных фигур (трамплинов, перил, боксов и т.д.), расположенных на трассе. Олимпийская
        дисциплина с 2014 года.
        <img class="padding" align="center" width="970" height="647" src="/static/img/disciplines/slopestyle.jpg">
    </li>
    <li class="padding">
        Джиббинг — скольжение и передвижение по различным фигурам: рейлам (прямым и наклонным перилам), боксам и т.д.
        Не является олимпийской дисциплиной.
        <img class="padding" align="center" width="970" height="642" src="/static/img/disciplines/jibbing.jpg">
    </li>
</ul>
<br><br><br>
<h2 align="center" id="specifications"><b>Характеристики сноуборда. Какими они бывают и почему так важны</b></h2>
<br>
<p id="terminology" class="main">Для начала ознакомимся с рядом терминов:</p>
<img align="center" width="1050" height="400" src="/static/img/technologies/scheme.png">
<ul>
    <li>Нос (Nose) – передняя часть сноуборда</li>
    <li>Хвост (Tail) – задняя часть сноуборда</li>
    <li>Скользяк – поверхность сноуборда, на которой он скользит по снегу</li>
    <li>Кант – металлический обод, позволяющий впиваться в снег и в лед и контролировать доску
        («поймать кант» - упасть из-за того, что кант слишком сильно вонзился в склон)</li>
    <li>Закладные – отверстия, в которые устанавливаются крепления</li>
    <li>Контактные точки – места сноуборда, касающиеся поверхности, на которой он находится</li>
    <li>Рабочая длина канта – расстояние между контактными точками сноуборда</li>
    <li>Радиус бокового выреза – радиус воображаемой окружности, часть которой проходит через дугообразную часть
        сноуборда между носом и хвостом. Сноуборды с маленьким радиусом позволяют делать резкие повороты, а с большим –
        плавные. Длина среднего радиуса – 7-8 м</li>
    <li>Повороты с проскальзыванием – повороты, при выполнении которых нужно задействовать не только кант доски, но и
        скользяк</li>
    <li>Карвинговые повороты – повороты на скорости, при выполнении которых задействуются только канты сноуборда</li>
</ul>
<br><br>
<h3 align="center" id="stiffness">Жесткость (определяется по десятибалльной системе)</h3>
<br>
<p class="main" align="justify">
    Эту характеристику очень важно учитывать при выборе сноуборда, т.к. для определенного стиля и уровня катания
    спортсмена необходимы разные виды жесткости. Доски относительно данного параметра делятся на три типа:
</p>
<img class="padding" align="center" src="/static/img/technologies/stiffness.png">
<ul>
    <li>
        Мягкие (1 - 4)
        <ul>
            <li>Предназначены для начинающих (такие сноуборды имеют свойство возвращаться в исходную позицию при
                оказании на них давления, что позволяет снизить риск падения)</li>
            <li>Не подходят для карвинга, фрирайда и для прыжков с трамплинов средней величины и выше (такие сноуборды
                плохо управляемы на большой скорости и на неподготовленных склонах)</li>
            <li>Отлично проявят себя во всех дисциплинах фристайла (кроме прыжков с трамплинов средней величины и выше)
                благодаря своей упругости и легкости в управлении</li>
        </ul>
    </li>
    <li>
        Средние (5 - 7)
        <ul>
            <li>Предназначены как для райдеров, имеющих опыт катания, так и для начинающих, стремящихся прогрессировать,
                т.к. доски средней жесткости не такие упругие, как мягкие</li>
            <li>Подходят для изучения основ карвинга, фрирайда и для всех дисциплин фристайла (такие сноуборды более
                устойчивы на больших скоростях по сравнению с мягкими)</li>
        </ul>
    </li>
    <li>
        Жёсткие (8 - 10)
        <ul>
            <li>Предназначены для более опытных сноубордистов (для управления такой доской нужно прикладывать больше
                сил)</li>
            <li>Подходят для карвинга, фрирайда и для прыжков трамплинов средней величины и выше (сноуборды, имеющие
                такую жесткость, наиболее устойчивы на больших скоростях)</li>
            <li>Не подходят для фристайла (жёсткие доски не обладают такой упругостью, какую имеют более мягкие
                сноуборды, поэтому на них не удастся выполнить большинство трюков)</li>
        </ul>
    </li>
</ul>
<br><br>
<h3 align="center" id="height">Ростовка</h3>
<br>
<p class="main" align="justify">
    Иначе говоря, ростовка – это длина сноуборда, которой соответствует определенный диапазон рекомендуемого веса
    спортсмена. Может произойти такое, что вес сноубордиста вошел в диапазон сразу нескольких ростовок. В таком случае
    на выбор доски будет влиять уровень катания и стиль:
</p>
<img class="padding" align="center" src="/static/img/technologies/height.png">
<ul>
    <li>Меньшие из подходящих: для новичков и изучающих базовый карвинг (на слишком длинных досках сложнее осваивать
        основы катания), для фристайла (кроме трамплинов; проще выполнять трюки, и более маневренная доска)</li>
    <li>Средние из подходящих: для трамплинов (чтобы заехать на высокий трамплин, нужна скорость, а короткие доски
        довольно маневренные, в связи с чем будут хуже управляемы, чем более длинные)</li>
    <li>Большие из подходящих: для карвинга (у таких досок больше рабочая длина канта, поэтому они довольно устойчивы
        на скорости и при резких поворотах), для фрирайда (чтобы улучшить проходимость по снегу и контроль скорости на
        любых участках трассы)</li>
</ul>
<br><br>
<h3 align="center" id="deflection">Прогиб</h3><br>
<p class="main" align="justify">
    Эта характеристика играет важнейшую роль в определении того, для какого стиля катания подойдет тот или иной
    сноуборд. Все прогибы можно разделить на 2 типа:
</p>
<br>
<h4 align="center">Основные прогибы:</h4>
<br>
<ul>
    <li>
        Rocker
        <img class="padding" align="center" width="1050" height="177" src="/static/img/deflections/rocker.png">
        Доски с таким прогибом:
        <ul>
            <li>Имеют маленькую рабочую длину канта, поэтому подходят для начинающих, не планирующих заниматься
                карвингом</li>
            <li>Подходят для фристайла (за исключением дисциплин, включающих в себя прыжки с трамплинов средней
                величины и более)</li>
            <li>Частично подходят для фрирайда (только для катания по пухлому снегу)</li>
            <li>Не рассматриваются для выроста по уровню</li>
        </ul>
    </li>
    <li class="padding">
        Camber
        <img class="padding" align="center" width="1050" height="177" src="/static/img/deflections/camber.png">
        Доски с таким прогибом:
        <ul>
            <li>Имеют самую большую рабочую длину канта, поэтому подходят для более опытных сноубордистов (либо для
                новичков, готовых к многочисленным падениям) и позволяют контролировать скорость лучше других</li>
            <li>Идеально подходят для карвинга</li>
            <li>Достаточно упругие (имеют хороший щелчок), в связи с чем подходят для всех дисциплин фристайла</li>
            <li>Не подойдут для фрирайда, т.к. не будут всплывать в пухлом снегу из-за отсутствия рокера на носу</li>
        </ul>
    </li>
    <li class="padding">
        Flat
        <img class="padding" align="center" width="1050" height="177" src="/static/img/deflections/flat.png">
        Доски с таким прогибом:
        <ul>
            <li>Подходят для новичков и для тех, кто имеет опыт катания</li>
            <li>Имеют средний контроль на скорости (лучше, чем у рокера, но хуже, чем у кэмбера), поэтому могут подойти
                для изучения основ карвинга</li>
            <li>Подходят для фристайла </li>
            <li>Не подойдут для фрирайда, т.к. не будут всплывать в пухлом снегу из-за отсутствия рокера на носу</li>
        </ul>
    </li>
</ul>
<br>
<h4 align="center">Гибридные прогибы:</h4>
<ul>
    <li style="text-align: left">
        Flying V (C2BTX)
        <img class="padding" align="center" width="1050" height="278" src="/static/img/deflections/flying_v.png">
        Доски с таким прогибом:
        <ul>
            <li>Сочетают в себе преимущества рокера (маневренность и возможность всплывать в пухлом снегу) и кэмбера
                (контроль скорости и упругость)</li>
            <li>Имеют рокер между креплениями, на носу и на хвосте, кэмбер - под креплениями (преимущественно рокерная
                доска, следовательно, отличный вариант для новичков)</li>
            <li>Подходят для изучения базового карвинга, фристайла</li>
            <li>Подходят для фрирайда</li>
        </ul>
    </li>
    <li class="padding">
        Camrock
        <img class="padding" align="center" width="1050" height="144" src="/static/img/deflections/camrock.png">
        Доски с таким прогибом:
        <ul>
            <li>Сочетают в себе те же преимущества, как у Flying V</li>
            <li>Имеют кэмбер между креплениями, рокер на носу и на хвосте, поэтому подойдут как для начинающих,
                готовых прогрессировать, так и для тех, кто уже имеет опыт катания</li>
            <li>Подходят для изучения базового карвинга</li>
            <li>Подходят для всех дисциплин фристайла</li>
            <li>Подходят для того, чтобы попробовать фрирайд</li>
        </ul>
    </li>
    <li class="padding" style="text-align: left">
        Pure pop Camber (прогиб компании “Burton Snowboards”)
        <img class="padding" align="center" width="1050" height="246" src="/static/img/deflections/pure_pop_camber.png">
        Доски с таким прогибом:
        <ul>
            <li>Сочетают в себе те же преимущества, как у Flying V</li>
            <li>Имеют кэмбер между креплениями, флэт под креплениями, рокер на носу и на хвосте, поэтому подходят для
                начинающих, готовых прогрессировать, и для тех, кто уже имеет опыт катания</li>
            <li>Подойдут для изучения базового карвинга</li>
            <li>Подходят для всех дисциплин фристайла</li>
            <li>Подходят для того, чтобы попробовать фрирайд</li>
        </ul>
    </li>
    <li class="padding" style="text-align: left">
        Flat top
        <img class="padding" align="center" width="1050" height="223" src="/static/img/deflections/flat_top.png">
        Доски с таким прогибом:
        <ul>
            <li>Сочетают в себе преимущества двух прогибов: рокера (маневренность и возможность всплывать в пухлом
                снегу) и флэт (контроль скорости лучше, чем у рокерной доски)</li>
            <li>Имеют флэт посередине, рокер на носу и на хвосте, поэтому подходят для новичков</li>
            <li>Подойдут для всех дисциплин фристайла</li>
            <li>Подойдут для базового карвинга и фрирайда</li>
        </ul>
    </li>
    <li class="padding" style="text-align: left">
        Directional Camber (Rocker)
        <img class="padding" align="center" width="1050" height="213" src="/static/img/deflections/directional_camber.png">
        Доски с таким прогибом:
        <ul>
            <li>Сочетают в себе те же преимущества, как у Flying V</li>
            <li>Имеют кэмбер посередине и рокер, начиная с носа, подходят для более продвинутых райдеров</li>
            <li>Подходят для карвинга и для фрирайда</li>
        </ul>
    </li>
    <li class="padding" style="text-align: left">
        Flat Rocker
        <img class="padding" align="center" width="1050" height="243" src="/static/img/deflections/flat_rocker.png">
        Доски с таким прогибом:
        <ul>
            <li>Сочетают в себе те же преимущества, как у Flat Top</li>
            <li>Имеют флэт посередине и рокер, начиная с носа</li>
            <li>Подходят для фрирайда и базового карвинга</li>
        </ul>
    </li>
</ul>
<br><br>
<h3 align="center" id="shape">Форма</h3>
<br>
<p class="main" align="justify">
    Эта характеристика тоже очень важна, т.к. она зависит не только от стиля, но и от уровня катания спортсмена.
    Существует 5 основных форм сноуборда:
</p>
<br>
<ul>
    <li style="text-align: left">
        Twin Tip
        <img class="padding" align="center" width="1050" height="298" src="/static/img/shapes/twin_tip.png">
        <ul>
            <li>Абсолютно симметричная доска, имеющая одинаковую форму и жесткость</li>
            <li>Идеально подходит для фристайла, выполнения базовых поворотов с проскальзыванием и для карвинга</li>
            <li>Почти не используется во фрирайде, т.к. плохо всплывает в снегу (к тому же, на заднюю ногу постоянно
                будет оказываться большая нагрузка, что небезопасно)</li>
        </ul>
    </li>
    <li class="padding">
        Directional<br>
        <img class="padding" align="center" width="1050" height="298" src="/static/img/shapes/directional.png">
        <ul>
            <li>Нос доски длиннее и шире хвоста, однако он менее жесткий по сравнению с задней частью и с серединой,
                закладные смещены ближе к хвосту сноуборда</li>
            <li>Отлично подходит для фрирайда, поворотов с проскальзыванием и для карвинга, но не для фристайла (из-за
                короткого хвоста сложнее выполнять трюки и приземляться в другую стойку)</li>
            <li>Не такая маневренная, как Twin Tip, т.к. сноуборды формы Directional применяются во фрирайде и в
                карвинге, в связи с чем имеют большую длину и жесткость</li>
        </ul>
    </li>
    <li class="padding" style="text-align: left">
        Directional Twin
        <img class="padding" align="center" width="1050" height="298" src="/static/img/shapes/directional_twin.png">
        <ul>
            <li>Внешне симметричная доска, но жесткость как у Directional; при необходимости можно сместить закладные
                ближе к хвосту</li>
            <li>Подойдет как для фрирайда и карвинга, так и для фристайла (при сдвиге креплений)</li>
        </ul>
    </li>
    <li class="padding">
        Tapered
        <img class="padding" align="center" width="1050" height="298" src="/static/img/shapes/tapered.png">
        <ul>
            <li>Передняя часть доски намного шире и длиннее задней, жесткость как у Directional</li>
            <li>Предназначена для фрирайда</li>
        </ul>
    </li>
    <li class="padding" style="text-align: left">
        Ласточкин хвост
        <img class="padding" align="center" width="1050" height="298" src="/static/img/shapes/dovetail.png">
        <ul>
            <li>Задняя часть доски напоминает хвост ласточки; в остальном как Directional</li>
            <li>Снижает нагрузку на заднюю ногу, однако на такой доске крайне тяжело делать трюки</li>
            <li>Предназначена для фрирайда</li>
        </ul>
    </li>
</ul>
<br><br>
<h3 align="center" id="width">Ширина</h3>
<br>
<p class="main" align="justify">
    Эту характеристику важно учесть при выборе сноуборда, чтобы предотвратить ситуацию, когда крепления выходят за
    пределы доски (это будет мешать во время катания и может привести к падениям). Доски относительно ширины делятся
    на 2 типа:
</p>
<img class="padding" align="center" src="/static/img/technologies/width.png">
<br>
<ul>
    <li class="padding" style="text-align: left">Стандартная (ширина талии сноуборда: 250 - 260 мм; размер ноги: до 44)</li>
    <li class="padding" style="text-align: left">Wide (широкая; ширина талии сноуборда: от 260 мм; размер ноги: от 44)</li>
</ul>
<br><br>
<h3 align="center" id="system">Система закладных</h3>
<br>
<p class="main" align="justify">
    Этот параметр важно учитывать при выборе креплений для сноуборда, т.к. они далеко не всегда подходят для нескольких
    систем закладных одновременно. Существует 4 вида системы закладных:
</p>
<img class="padding" align="center" width="1100" height="870" src="/static/img/technologies/systems.png">
<ul>
    <li>
        4 x 4 <br>
        <ul>
            <li>Четырехболтовая система</li>
            <li>2 ряда с закладными (расстояние между ними и между рядами – 4 см)</li>
            <li>Постепенно устаревает, т.к. положений для регулировки стойки очень мало</li>
        </ul>
    </li>
    <li class="padding">
        2 x 4 <br>
        <ul>
            <li>Четырехболтовая система</li>
            <li>2 ряда с закладными (расстояние между ними – 2 см, между рядами – 4 см)</li>
            <li>Наиболее распространенная в данный момент</li>
        </ul>
    </li>
    <li class="padding">
        Channel (Burton) <br>
        <ul>
            <li>Двухболтовая система</li>
            <li>Вместо отверстий используется 2 рельса (такая система закладных позволяет отказаться от монтажного диска
                и пластиковых деталей под креплениями для того, чтобы лучше чувствовать доску, и определить стойку
                райдера с предельной точностью)</li>
            <li>Применяется практически во всех моделях Burton и подходит для всех креплений (если они не Burton, то
                необходим двухболтовый переходник)</li>
        </ul>
    </li>
    <li class="padding">
        3D (Burton) <br>
        <ul>
            <li>Трехболтовая система</li>
            <li>Закладные расположены в виде ромбов</li>
            <li>Устаревшая система закладных (в данный момент может применяться только в детских сноубордах Burton)</li>
        </ul>
    </li>
</ul>
<br><br>
<h3 align="center" id="technology">Технология кантов</h3>
<br>
<p class="main" align="justify">
    Этот параметр характеризует особенности кантов сноуборда. Необходимо понимать, что определенные технологии имеют как
    преимущества, так и недостатки. Рассмотрим 3 технологии кантов, существующих в данный момент:
</p>
<ul>
    <li>
        Прямой кант <br>
        <img class="padding" align="center" src="/static/img/technologies/straight.png">
        <ul>
            <li>2 контактных точки со снегом (на носу и на хвосте)</li>
            <li>При укороченной длине на носу и на хвосте нет кантов (это необходимо для уменьшения веса сноуборда,
                однако при столкновении с чем-либо есть риск расслоения этих частей доски)</li>
        </ul>
    </li>
    <li class="padding">
        Griptech <br>
        <img class="padding" align="center" src="/static/img/technologies/griptech.png">
        <ul>
            <li>4 контактных точки со снегом (на носу, под креплениями и на хвосте)</li>
            <li>Обеспечивает хорошее сцепление со склоном</li>
        </ul>
    </li>
    <li class="padding">
        Magne-traction <br>
        <img class="padding" align="center" src="/static/img/technologies/magne_traction.png">
        <ul>
            <li>7 контактных точек с поверхностью</li>
            <li>Позволяет впиваться в ледяные или жесткие склоны</li>
            <li>Может привести к снижению скорости из-за большого сцепления со склоном</li>
        </ul>
    </li>
</ul>
<br><br><br><br>
{% endblock %}